* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: url(./resources/Background_image.svg);
    background-color: #171324;
    color: #fff;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    font-family: 'Poppins', serif;
    width: 25vw;
    margin-bottom: 2rem;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 15px;
}

h2 {
    text-align: center;
    font-size: 13px;
    font-weight: 200;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
}

.container .box {
    background-color: #2a2d38e6;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    width: 300px;
}

.container .box span {
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 1rem;
    display: inline-block;
}

.container .box h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-family: 'Poppins', serif;
}

.container .box1 span {
    background-color: #fffafa;
}

.container .box2 span {
    background-color: #e3eed8;
}

.container .box3 span {
    background-color: #faebd7;
}

.container .box p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 1.3;
    margin-bottom: 20px;
}

.container .box img {
    width: 100%;
    border-radius: 8px;
}

.author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: #82878f;
}

.author-info a {
    text-decoration: none;
    color: #619aaf;
}

@media (min-width: 800px) {
    body {
        padding: 3rem 4rem;
    }
    .header {
        width: 35vw;
    }
}

@media (max-width: 800px) {
    body {
        padding: 3rem 3rem;
    }
    .header {
        width: 70vw;
    }
}
